[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/nginx.vim"]
	path = vim/bundle/nginx.vim
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = git://github.com/vim-pandoc/vim-pandoc
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
