[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
