# lua.snippets
# Common luascript usage for neovim config and plugin development

snippet p
print(vim.inspect(${1}))
endsnippet

snippet notify
vim.notify('${1:message}', '${3:info}', {title = '${2:Title}'})
endsnippet
