# Ultisnip for pandoc/markdown
extends tex

snippet pandocmeta "Insert yaml metadata header for pandoc-latex."
---
title: ${1:Insert Document Title Here}
author: Jongwook Choi
date: \today

classoption:
  - letterpaper
geometry: top=1in, bottom=1in, left=1in, right=1in
linestretch: 1.3
numbersections: true
graphics: true
header-includes: |
  \usepackage{times}
  \usepackage{kotex}
---

endsnippet
