snippet html5
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width">
			<title>${1:title}</title>
		</head>
		<body>
			${0:body}
		</body>
	</html>

snippet css
	<link rel="stylesheet" href="${1:css/main.css}">

